<div class="grid grades">
	<div class="grid-item 1/1 select-sem">
		<div id="sem-dropdown" class="grid-item 2/5 select-sem-dropdown">
			Select semester <i class="fa fa-angle-down"></i>
		</div>

		<div id="sem-selected" class="grid-item 3/5 select-sem-selected">
			Semester 1 - Winter 2014
		</div>
	</div>

	<div id="sem-list" class="grid-item 1/1 select-sem-list">
		<div id="sem1" class="grid-item 1/1 select-sem-list-item">
			<i class="fa fa-angle-right"></i> Semester 1 - Winter 2014
		</div>
		<div id="sem2" class="grid-item 1/1 select-sem-list-item">
			<i class="fa fa-angle-right"></i> Semester 2 - Spring 2015
		</div>
		<div id="sem3" class="grid-item 1/1 select-sem-list-item">
			<i class="fa fa-angle-right"></i> Semester 3 - Winter 2015
		</div>
		<div id="sem4" class="grid-item 1/1 select-sem-list-item">
			<i class="fa fa-angle-right"></i> Semester 4 - Spring 2016
		</div>
		<div id="sem5" class="grid-item 1/1 select-sem-list-item">
			<i class="fa fa-angle-right"></i> Semester 5 - Winter 2016
		</div>
	</div>

	<div class="grid-item 1/1 compact-1/1 grades-table">
		Notes here
	</div>
</div>
