<div class="grid visiting-hours">
	<div class="grid-item 1/1 visiting-hours-title">
		Visiting hours
	</div>

	<div class="grid-item 1/1 visiting-hours-list">
		<div class="grid-item 1/1 visiting-hours-item">
			<div id="soio-title" class="visiting-hours-item-title">
				<i class="fa fa-angle-double-right"></i> Student & International Offices
			</div>
			<div id="soio-content" class="visiting-hours-item-schedule">
				<table>
					<colgroup>
	        			<col class="3/10">
	        			<col class="3/10">
	        			<col class="3/10">
	      			</colgroup>
					<tbody>
						<tr>
							<td>Monday</td>
							<td class="centered">9am - 11am</td>
							<td class="centered">12pm - 2pm</td>
						</tr>
						<tr>
							<td>Tuesday</td>
							<td class="centered">9am - 11am</td>
							<td class="centered">12pm - 2pm</td>
						</tr>
						<tr>
							<td>Wednesday</td>
							<td class="centered">-</td>
							<td class="centered">2pm - 4pm</td>
						</tr>
						<tr>
							<td>Thursday</td>
							<td class="centered">9am - 11am</td>
							<td class="centered">12pm - 2pm</td>
						</tr>
						<tr>
							<td>Friday</td>
							<td class="centered">9am - 11am</td>
							<td class="centered">-</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="grid-item 1/1 visiting-hours-item">
			<div id="management-title" class="visiting-hours-item-title">
				<i class="fa fa-angle-double-right"></i> Management
			</div>
			<div id="management-content" class="visiting-hours-item-schedule">
				<table>
					<colgroup>
	        			<col class="1/2">
	        			<col class="1/2">
	      			</colgroup>
					<tbody>
						<tr>
							<td>doc. dr inż. Tomasz Saryusz-Wolski<br>IFE Director</td>
							<td>Monday<br>12:00am - 1:00pm</td>
						</tr>
						<tr>
							<td>doc. dr inż. Małgorzata Miller<br>IFE Vice Director</td>
							<td>Thursday<br>4:30pm - 6:00pm</td>
						</tr>
						<tr>
							<td>dr inż. Dorota Piotrowska<br>IFE Vice Director</td>
							<td>Thursday<br>4:30pm - 6:00pm</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="grid-item 1/1 visiting-hours-item">
			<div id="dean-title" class="visiting-hours-item-title">
				<i class="fa fa-angle-double-right"></i> Your Dean - PhD Andrzej Romanowski
			</div>
			<div id="dean-content" class="visiting-hours-item-schedule">
				<table>
					<colgroup>
	        			<col class="1/2">
	        			<col class="1/2">
	      			</colgroup>
					<tbody>
						<tr>
							<td>IFE Building</td>
							<td>Thursday<br>10:00am - 11:00am</td>
						</tr>
						<tr>
							<td>CTI Building</td>
							<td>Monday<br>9:15am - 10:00am</td>
						</tr>
						<tr>
							<td>EEIA Building</td>
							<td>Wednesday<br>12:00am - 1:00pm</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>