<footer class="app-footer">
  <div class="grid">
    
    <div class="grid-item 1/1 text-center">
      Made with <%= image_tag("ruby.png", size: "20x20", alt: "Ruby") %> on Rails
    </div>

    <div class="grid-item 1/1 text-center">
      Tomasz Prochniewicz &copy <%= DateTime.now.year %>
    </div>

  </div>
</footer>