<div class="grid useful-links">

	<div id="use-ful-drop" class="grid-item 1/1 useful-links-dropdown">
		Useful links <i class="fa fa-angle-down"></i>
	</div>

	<div id="use-ful-links" class="grid-item 1/1 useful-links-links-hidden">
		<div class="grid-item 1/1 useful-links-link">
			<a>
				<i class="fa fa-angle-right"></i> Conact
			</a>
		</div>
		<div class="grid-item 1/1 useful-links-link">
			<a>
				<i class="fa fa-angle-right"></i> Academic year
			</a>
		</div>
		<div class="grid-item 1/1 useful-links-link">
			<a>
				<i class="fa fa-angle-right"></i> ECTS programmes
			</a>
		</div>
		<div class="grid-item 1/1 useful-links-link">
			<a>
				<i class="fa fa-angle-right"></i> Application forms
			</a>
		</div>
	</div>

</div>