
<div class="grid dashboard">
	<div class="grid-item 1/3 dashoard-round-button dashboard-round-button-circle">
		<a>contact dean</a>
	</div>

	<div class="grid-item 1/3">
		check grades
	</div>

	<div class="grid-item 1/3">
		dean's announcements
	</div>
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>