<div class="grid hidden medium-visible compact-visible timetable-changes-all">

	<div class="grid-item 1/1 timetable-changes-last-dropdown">
		New timetable changes: 
	</div>

	<div class="grid-item 1/1 timetable-changes-last-list">
		<div class="grid-item 1/1 timetable-changes-last-list-item">
			<div class="grid-item 1/1 timetable-changes-last-list-item-subject">
				<i class="fa fa-angle-right"></i> GUI programming
			</div>
			<div class="grid-item 1/1 timetable-changes-last-list-item-message">
				On 18/11 classes will start at 12:30 pm.
			</div>
		</div>
		<div class="grid-item 1/1 timetable-changes-last-list-item">
			<div class="grid-item 1/1 timetable-changes-last-list-item-subject">
				<i class="fa fa-angle-right"></i> Embedded systems
			</div>
			<div class="grid-item 1/1 timetable-changes-last-list-item-message">
				Classes on 21/11 are cancelled.
			</div>
		</div>
	</div>

</div>

<div class="grid medium-hidden compact-hidden">

	<%= render 'shared/announcements' %>

</div>