<table>
		  <colgroup>
		    <col class="1/5">
		    <col class="1/5">
		    <col class="2/5">
		    <col class="1/5">
		  </colgroup>
		  <thead>
		    <tr>
		      <th class="compact-hidden">Subject ID</th>
		      <th>Subject Name</th>
		      <th>Tutor</th>
		      <th>Grade</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td class="compact-hidden">00 1450</td>
		      <td>Electronics</td>
		      <td>PhD Mariusz Piotrowicz</td>
		      <td>5</td>
		    </tr>
		    <tr>
		      <td class="compact-hidden">21 0017</td>
		      <td>Mathematics I</td>
		      <td>PhD Jakub Szczepaniak</td>
		      <td>5</td>
		    </tr>
		    <tr>
		      <td class="compact-hidden">90 2300</td>
		      <td>Technical English</td>
		      <td>MS Joanna Milosz-Bartczak</td>
		      <td>5</td>
		    </tr>
		    <tr>
		      <td class="compact-hidden">06 4055</td>
		      <td>Scripting Languages</td>
		      <td>PhD Witold Maranda</td>
		      <td>5</td>
		    </tr>
		  </tbody>
		</table>
