<div class="grid contact-list">
	<div class="grid-item 1/1 contact-title">
		Contacts
	</div>

	<div class="grid-item 1/1 contact-item">
		<div class="grid-item 1/1 contact-name">
			<i class="fa fa-angle-double-right"></i> Lodz University of Technology
		</div>
		<div class="grid-item 1/1 contact-address">
			ul. Żeromskiego 116, 90-924 Łódź
		</div>
		<div class="grid-item 1/1 contact-phone">
			Phone (48) (42) 636 55 22 <br>
			Fax (48) (42) 636 56 15
		</div>
		<div class="grid-item 1/1 contact-mail">
		</div>
		<div class="grid-item 1/1 contact-webpage">
			Webpage: <a href="http://www.p.lodz.pl">www.p.lodz.pl</a>
		</div>
	</div>

	<div class="grid-item 1/1 contact-item">
		<div class="grid-item 1/1 contact-name">
			<i class="fa fa-angle-double-right"></i> International Faculty of Egineering
		</div>
		<div class="grid-item 1/1 contact-address">
			ul. Żwirki 36, 90-924 Łódź
		</div>
		<div class="grid-item 1/1 contact-phone">
			Phone (48) 42-638-38-00 <br>
			Fax (48) 42-631-32-49  
		</div>
		<div class="grid-item 1/1 contact-mail">
			ife@adm.p.lodz.pl
		</div>
		<div class="grid-item 1/1 contact-webpage">
			Webpage: <a href="http://www.ife.p.lodz.pl">www.ife.p.lodz.pl</a>
		</div>
	</div>
</div>