<div class="grid contact-list">
	<div class="grid-item 1/1 contact-title">
		Contacts
	</div>

	<div class="grid-item 1/1 contact-item">
		<div class="grid-item 1/1 contact-name">
			<i class="fa fa-angle-double-right"></i> Lodz University of Technology
		</div>
		<div class="grid-item 1/1">
			<table>
				<colgroup>
        			<col class="1/10">
        			<col class="9/10">
      			</colgroup>
				<tbody>
					<tr class="contact-address">
						<td>Address:</td>
						<td>ul. Żeromskiego 116<br>90-924 Łódź</td>
					</tr>
					<tr class="contact-phone">
						<td>Phone:</td>
						<td class="phone-number">(48) (42) 636 55 22</td>
					</tr>
					<tr class="contact-phone">
						<td>Fax:</td>
						<td class="phone-number">(48) (42) 636 56 15</td>
					</tr>
					<tr class="contact-mail">
						<td>E-Mail:</td>
						<td class="mail">sekretariat@p.lodz.pl</td>
					</tr>
					<tr class="contact-webpage">
						<td>Webpage:</td>
						<td><a href="http://www.p.lodz.pl">www.p.lodz.pl</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="grid-item 1/1 contact-item">
		<div class="grid-item 1/1 contact-name">
			<i class="fa fa-angle-double-right"></i> International Faculty of Egineering
		</div>
		<div class="grid-item 1/1">
			<table>
				<colgroup>
        			<col class="1/10">
        			<col class="9/10">
      			</colgroup>
				<tbody>
					<tr class="contact-address">
						<td>Address:</td>
						<td>ul. Żwirki 36<br>90-924 Łódź</td>
					</tr>
					<tr class="contact-phone">
						<td>Phone:</td>
						<td class="phone-number">(48) 42-638-38-00</td>
					</tr>
					<tr class="contact-phone">
						<td>Fax:</td>
						<td class="phone-number">(48) 42-631-32-49</td>
					</tr>
					<tr class="contact-mail">
						<td>E-Mail:</td>
						<td class="mail">ife@adm.p.lodz.pl</td>
					</tr>
					<tr class="contact-webpage">
						<td>Webpage:</td>
						<td><a href="http://www.ife.p.lodz.pl">www.ife.p.lodz.pl</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>