.academic-year {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;

	.centered {
		text-align: center;
	}

	.academic-year-title {
		padding-top: 16px;
		padding-bottom: 0;
		padding-right: 0;
		padding-left: 0;
		font-size: 25px;
		border-bottom: 1px solid $color-standard-border;
	}

	.academic-year-list {
		.academic-year-semester {
			padding-top: 15px;
			padding-bottom: 0;
			padding-right: 10px;
			padding-left: 10px;

			.academic-year-semester-title {
				font-size: 18px;
				padding: 0;
				padding-bottom: 5px;
				padding-top: 5px;
				cursor: pointer;
			}

			.academic-year-semester-title:hover {
				font-weight: 600;
			}

			.academic-year-semester-content {
				display: none;
				padding: 10px;
				padding-bottom: 5px;
				padding-top: 5px;
				font-size: 15px;

				table {
					color: #666;

					thead {
						border-bottom: 1px solid $color-standard-border;
						color: $color-text-black;
					}

					tbody {
						tr:hover {
							color: #000;
							background: #eee;
						}
					}
				}

				ul {
					list-style: none;
					margin-left: 0;
					padding-left: 0;

					li {
						padding-left: 1em;
						text-indent: -1em;
					}
				}
			}
		}
	}
}

@include rwd('compact') {
	.academic-year {
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;

		.academic-year-title {
			padding-top: 16px;
			padding-bottom: 0;
			padding-right: 0;
			padding-left: 0;
			font-size: 25px;
			border-bottom: 1px solid $color-standard-border;
		}

		.academic-year-list {
			.academic-year-semester {
				padding: 0;
				padding-top: 15px;

				.academic-year-semester-content {
					padding: 0;
					padding-bottom: 5px;
					padding-top: 5px;
					font-size: 12px;
				}
			}
		}
	}
}