.announcements {
	padding: 5px;
	margin: 5px;
}

.announcement {
	padding: 5px;
	margin: 5px;

	background: #eee;
	border: 1px solid #aaa;
	box-shadow: 0px 2px 2px #aaa;
}

.ann-title {
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
}