.announcements {
	padding: 5px;
	margin: 5px;
}

.announcement {
	padding: 10px;
	margin: 10px;
}

.announcement:hover {

}

.ann-title {
	font-size: 20px;
	font-weight: 600;
	padding: 2px;
	border-bottom: 1px solid $color-standard-border;
}

.ann-content {
	padding-top: 10px;
	padding-bottom: 10px;
}

.ann-author {
	float: left;
}

.ann-date {
	float: left;
}