$color-navbar-link: #212121;
$color-navbar-link-hover: #ff1744;
$color-navbar-background: #fcfcfc;
$color-navbar-logo: #111111;

$color-mobile-menu: #eceff1;

$color-standard-border: #aaaaaa;
$color-standard-shadow: #aaaaaa;

$color-message-normal: #9ccc65;

$color-message-critical: #e53935;

$color-form-border: #888888;
$color-form-shadow: #888888;

$color-link-hover: #7cb342;

$color-text-white: #ffffff;
$color-text-black: #111111;

$color-timetable-changes-box: #ee6e73;