$color-navbar-link: #dadada;
$color-navbar-link-hover: #fafafa;
$color-navbar-background: #2b2b2b;
$color-navbar-logo: #e3e3e3;

$color-mobile-menu: #eceff1;
$color-mobile-menu-link: #313131;
$color-mobile-menu-link-hover: #ee6e73;

$color-standard-border: #aaaaaa;
$color-standard-shadow: #aaaaaa;

$color-message-normal: #9ccc65;

$color-message-critical: #e53935;

$color-form-border: #888888;
$color-form-shadow: #888888;

$color-link-hover: #7cb342;

$color-text-white: #ffffff;
$color-text-black: #111111;

$color-timetable-changes-box: #ee6e73;