.contact-list {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;

	.contact-title {
		padding-top: 16px;
		padding-bottom: 0;
		padding-right: 0;
		padding-left: 0;
		font-size: 25px;
		border-bottom: 1px solid $color-standard-border;
	}

	.contact-item {
		padding-top: 15px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;

		.contact-name {
			font-size: 18px;
			padding: 0;
			padding-bottom: 5px;
			padding-top: 5px;
		}

		.contact-name:hover {
			font-weight: 600;
		}

		.contact-address {
			padding: 10px;
			padding-bottom: 5px;
			padding-top: 5px;
		}

		.contact-phone {
			padding: 10px;
			padding-bottom: 5px;
			padding-top: 5px;
		}

		.contact-mail {
			padding: 10px;
			padding-bottom: 5px;
			padding-top: 5px;

			.mail {
				text-decoration: none;
				color: #42a5f5;
			}

			.mail:hover {
				color: #1e88e5;
			}
		}

		.contact-webpage {
			padding: 10px;
			padding-bottom: 5px;
			padding-top: 5px;

			a {
				text-decoration: none;
				color: #42a5f5;
			}

			a:hover {
				color: #1e88e5;
			}
		}
	}
}