.logo-regular .logo {
	font-size: 60px;
	text-align: center;
	padding: 20px;
	padding-top: 50px;
}

.logo-mobile .logo {
	font-size: 36px;
	text-align: center;
	padding: 20px;
	padding-top: 25px;
}

.logo-web {
	font-family: 'Pacifico', cursive;
}

.logo-office {
    font-family: 'Raleway', sans-serif;
}

.logo-nav {
	color: #000;
}

.logo-regular .logo-tul {
	padding: 40px;
	padding-bottom: 0px;
	padding-top: 60px;
	font-size: 40px;
}

.logo-mobile .logo-tul {
	padding: 20px;
	padding-bottom: 0px;
	font-size: 25px;
}

