#message-holder {
	margin-top: 65px;
}

.message-box {
	box-shadow: 2px 2px 2px $color-standard-shadow;
	color: black;
	text-align: center;
}

.message-normal {
	background-color: $color-message-normal;
}

.message-critical {
	background-color: $color-message-critical;
}
