.navbar {
  position: relative;
	
	box-shadow: 0px 2px 2px $color-standard-shadow;
  margin-bottom: 15px;
  font-size: 30px;
  vertical-align: middle;
  background: $color-navbar-background;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  img {
    padding: 0;
    margin: 0;
  }

  a {
    display: block;
    padding: 5px;
    color: $color-navbar-link;
    text-decoration: none;
  }

  a:hover {
    color: $color-navbar-link-hover;
  }
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 58px;
}

.navbar-left {
  text-align: left;
}

.navbar-center {
  text-align: center;
  li {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.navbar-right {
  text-align: right;

  .user-name {
    font-size: 20px;
  }

  .fa-bars {
    padding-right: 10px;
    cursor: pointer;
  }
}

.mobile-menu {
  display: none;
  text-align: center;
  background: $color-mobile-menu;
  border-top: 1px solid $color-standard-border;
  box-shadow: 0px 2px 2px $color-standard-shadow;
  color: #111;
}

.fixed-mobile-menu {
  position: fixed;
  top: 58px;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 58px;
}

@include rwd("compact") {
  .navbar {
    font-size: 25px;
  }

  .navbar-center li {
    margin-left: 5px;
    margin-right: 5px;
  }

  .logo-web {
    vertical-align: middle;
  }

  .logo-office {
    vertical-align: middle;
  }

  i {
    vertical-align: middle;
  }
}

@media all and (min-width: 951px) {
  .mobile-menu {
    display: none !important;
  }
}

.below-navbar {
  padding-top: 60px;
}