.visiting-hours {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;

	.centered {
		text-align: center;
	}

	.visiting-hours-title {
		padding-top: 16px;
		padding-bottom: 0;
		padding-right: 0;
		padding-left: 0;
		font-size: 25px;
		border-bottom: 1px solid $color-standard-border;
	}

	.visiting-hours-list {
		.visiting-hours-item {
			padding-top: 15px;
			padding-bottom: 0;
			padding-right: 10px;
			padding-left: 10px;

			.visiting-hours-item-title {
				font-size: 18px;
				padding: 0;
				padding-bottom: 5px;
				padding-top: 5px;
				cursor: pointer;
			}

			.visiting-hours-item-title:hover {
				font-weight: 600;
			}

			.visiting-hours-item-schedule {
				display: none;
				padding: 10px;
				padding-bottom: 5px;
				padding-top: 5px;
				font-size: 15px;

				table {
					color: #666;

					tr:hover {
						color: #000;
						background: #eee;
					}
				}
			}
		}
	}
}

@include rwd('compact') {
	.visiting-hours {
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;

		.visiting-hours-title {
			padding-top: 16px;
			padding-bottom: 0;
			padding-right: 0;
			padding-left: 0;
			font-size: 25px;
		}

		.visiting-hours-list {
			.visiting-hours-item {
				padding: 0;
				padding-top: 15px;

				.visiting-hours-item-schedule {
					padding: 0;
					padding-bottom: 5px;
					padding-top: 5px;
					font-size: 12px;
				}
			}
		}
	}
}